<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout" layout:decorator="Layouts/default">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <title>Add Article</title>
</head>

<body>

    <div class="container">
        <div th:replace="fragments/header ::header"></div>
        <h5 th:text="${formAdd}?'Add Article':'Update Article'"></h5>
        <form th:action="${formAdd}==true?'/add':'/update'" method="post" enctype="multipart/form-data" class="col s12">
            <div class="row">
                <!--<div class="input-field col s10">-->
                    <input type="hidden" th:field="${article.id}" id="article_id" class="validate col s6">
                    <!--<label for="article_id">ID</label>-->
                    <!--<span class="col s4" style="color:red; font-size:15px" th:if="${#fields.hasErrors('article.id')}">* ID is required</span>-->
                <!--</div>-->
                <div class="input-field col s10">
                    <input type="text" class="validate col s6" th:field="${article.name}" id="article_name">
                    <label for="article_name">Article Name</label>
                    <span  th:if="${#fields.hasErrors('article.name')}"><span class="helper-text" data-error="Wrong Input" data-success="Right Input" style="color:red; font-size:15px">*Article Name is required</span></span>
                </div>
                <div class="input-field col s10">
                    <input type="text" class="materialize-textarea col s6" th:field="${article.description}" id="article_description">
                    <label for="article_description">Article Description</label>
                    <span th:if="${#fields.hasErrors('article.description')}"><span class="helper-text" data-error="Wrong Input" data-success="Right Input" style="color:red; font-size:15px">*Description is required</span></span>
                </div>
                <div class="input-field col s10">
                    <input type="text" class="validate col s6" th:field="${article.author}" id="article_author">
                    <label for="article_author">Author</label>
                    <span th:if="${#fields.hasErrors('article.author')}"><span class="helper-text" data-error="Wrong Input" data-success="Right Input" style="color:red; font-size:15px">*Author is required</span></span>
                </div>
                <div class="input-field col s5">
                        <select name="" id="category" th:field="${article.category.id}" class="broser-default">
                            <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                        <label for="category">Category</label>
                    
                </div>
                <div class="file-field col s10">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper col s6">
                        <input type="text" class="file-path validate">
                    </div>
                </div>
            </div>
            <a href="/article" class="btn waves-red btnPageAdd">Cancel</a>
            <input class="btn wave-lights wave-effects btnPageAdd" type="submit" value="Save" th:value="${formAdd}?'Save':'Update'">
        </form>
        <br>
        <div th:replace="fragments/footer ::footer"></div>
    </div>
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>

</body>

</html>