<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout" layout:decorator="Layouts/default">
<head>
    <meta charset="UTF-8"/>
    <title>Article Management</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="css/article.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body class="container">
    <div th:replace="fragments/header ::header"></div>
    <h3 th:text="#{Articles}">Articles</h3>
    <h5><a href="/add" class="btn waves-light waves-effect blue accent-2" th:text="#{addnew}">Add new</a></h5>
    <table class="highlight responsive-table">
        <tr style="background-color: #039be5">
            <th>ID</th>
            <th th:text="#{title}">Title</th>
            <th th:text="#{description}">Description</th>
            <th th:text="#{author}">Author</th>
            <th th:text="#{category}">Category</th>
            <th th:text="#{createddate}">Created Date</th>
            <th th:text="#{picture}">Picture</th>
            <th th:text="#{action}">Action</th>
        </tr>
        <tr th:each="article: ${articles}" th:object="${article}">
            <td th:text="*{id}">ID</td>
            <td><a th:href="@{/view/{id}(id=*{id})}" th:text="*{name}"></a></td>
            <td th:text="*{description}">Description</td>
            <td th:text="*{author}">Author</td>
            <td th:text="*{category.name}">Category</td>
            <td th:text="*{createdDate}">Created Date</td>
            <td style="text-align:center;"><img th:src="@{image/{thumnail}(thumnail=*{thumnail})}" onerror="this.src='img/KSHRD.jpg'"/></td>
            <td>
                <a class="btn waves-light waves-effect red" th:href="@{/delete/{id}(id=*{id})}" th:text="#{delete}">Delete</a>
                <a class="btn waves-light waves-effect blue" th:href="@{/update/{id}(id=*{id})}" th:text="#{update}">Update</a>
            </td>
        </tr>
    </table>

    <div th:replace="fragments/footer ::footer"></div>
</body>
</html>