<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layouts/default">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <style>
        .header{
            background-color: #039be5;
        }
        p{
            color:white;
        }
    </style>
</head>
<body>
    <div class="header col s12 row" th:fragment="header" style="background-color: #039be5">
        <div class="col s6"><a href="/article"><p style="color:white" th:text="#{articlemanagement}">Article Management</p></a></div>
        <div class="col s6">
            <a class="col s3" href="/article"><p style="color:white" th:text="#{Articles}">Articles</p></a>
            <a href="/category" class="col s3"><p style="color: white" th:text="#{category}">Categories</p></a>
            <div class="col s3" style="padding: 15px 0px">
                <a href="/?lang=en" style="color: white !important;">EN</a>
                <span>/</span>
                <a href="/?lang=km" style="color:white !important;">KH</a>
            </div>
        </div>
    </div>
</body>
</html>