<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout" layout:decorator="Layouts/default">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <title>Add Category</title>

</head>

<body>

    <div class="container">
        <div th:replace="fragments/header ::header"></div>
        <h5 th:text="${checkAdd}?'Add Category':'Update Category'"></h5>
        <form th:action="${checkAdd}?'/category/add':'/category/update'" method="post" class="col s6">
            <div class="row">
                <!--<div class="input-field col s10">-->
                    <input type="hidden" th:field="${category.id}" id="category_id" class="validate col s6">
                    <!--<label for="article_id">ID</label>-->
                    <!--<span class="col s4" style="color:red; font-size:15px" th:if="${#fields.hasErrors('article.id')}">* ID is required</span>-->
                <!--</div>-->
                <div class="input-field col s10">
                    <input type="text" class="validate col s6" th:field="${category.name}" id="category_name" required>
                    <label for="category_name">Category Name</label>
                    <span  th:if="${#fields.hasErrors('category.name')}"><span class="helper-text" data-error="Wrong Input" data-success="Right Input" style="color:red; font-size:15px">*Category Name is required</span></span>
                </div>
            </div>
            <a href="/category" class="btn waves-red btnPageAdd blue">Cancel</a>
            <input class="btn wave-lights wave-effects btnPageAdd blue" type="submit" value="Save" th:value="${checkAdd}?'Add':'Update'">
        </form>
        <br>
        <div style="margin-top: 50%;">
            <div th:replace="fragments/footer ::footer"></div>
        </div>

    </div>

</body>

</html>