<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout" layout:decorator="Layouts/default">
<head>
    <meta charset="UTF-8"/>
    <title>Article Management</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="css/article.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body class="container">
    <div th:replace="fragments/header ::header"></div>
    <h3>Category</h3>
    <h4><a href="/category/add" class="btn waves-light waves-effect blue accent-2">Add new</a></h4>
    <div class="col s6">
        <table class="highlight responsive-table">
            <tr style="background-color: #039be5">
                <th>ID</th>
                <th th:text="#{title}">Name</th>
                <th style="width: 200px !important;" th:text="#{action}">Action</th>
            </tr>
            <tr th:each="category: ${categories}" th:object="${category}">
                <td th:text="*{id}">ID</td>
                <td th:text="*{name}">Name</td>
                <td>
                    <a th:href="@{/category/delete/{id}(id=*{id})}" class="btn waves-light waves-effect red" th:text="#{delete}">Delete</a>
                    <a th:href="@{/category/update/{id}(id=*{id})}" class="btn waves-light waves-effect blue accent-2" th:text="#{update}">Update</a>
                </td>
            </tr>
        </table>
    </div>
        <div th:replace="fragments/footer ::footer"></div>
</body>
</html>